.car_offers {
    margin: 30px 0px;
}

.car_offers h1 {
    text-align: center;
    border-bottom: 1px dotted gray;
}

.car_off_text p {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}

.car_interior {
    display: flex;
    justify-content: space-between;
}

.car_subint {
    font-weight: bold;
    color: orange;
    font-size: 15px;
}

.int_icon {
    display: flex;
    align-items: center;
}

.car_info_sec6 {
    margin: 20px 0px;
}